.login{
  width:max(50%,200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.login input{
  height:max(3.6vw,30px);
  width:max(35vw,150px);
  outline:none;
  font-size: 20px;
}
.login button{
  width:max(13vw,100px);
  height: 40px;
}
.login button:hover{
  background-color:black;
  color:white;
  transition:0.3s;
}
.parent{
  height:80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(width>350px)and(width>990px){
  .login{
    border:3px solid black;
  }
}
